@import 'utils/scss_variables.module.scss';

$options-icon-size: 16px;
$inner-padding: 20px;

.runtime-scan-config-button {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;

    &.disabled {
        color: $color-grey;
        cursor: not-allowed;
    }
    .icon {
        width: $options-icon-size;
        height: $options-icon-size;
        margin-right: 6px;
    }
}

.scan-configuration-container {
    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    background-color: $color-blue-light;
    display: flex;
    align-items: center;
    padding: 0 $inner-padding;

    .on-demand-scan-configuration-container {
        width: 100%;
        display: flex;
        align-items: center;
        border-right: 1px solid $color-grey-light;
        padding-right: $inner-padding;
        
        .scan-select-title {
            font-size: 12px;
            font-weight: bold;
            line-height: 14px;
            letter-spacing: 0.36px;
            text-transform: uppercase;
            white-space: nowrap;
        }
        .info-icon-wrapper {
            min-width: 14px;
            margin-left: 6px;
        }
        .runtime-scan-select {
            margin: 10px $inner-padding;
            width: 100%;
        }
        .scan-button {
            margin-left: $inner-padding;
            white-space: nowrap;
        }
    }
    .scheduled-scan-configuration-container {
        padding-left: $inner-padding;

        .runtime-scan-config-button {
            width: 95px;
        }
    }
}