@import 'utils/scss_variables.module.scss';

$scan-time-width: 230px;

.runtime-scan-page {
    .scan-details-container {
        margin: 40px;
        
        .scan-details-info {
            min-height: 44px;
            box-sizing: border-box;
            background-color: $color-grey-light;
            font-size: 13px;
            line-height: 18px;
            padding: 13px 20px;
            border-bottom: 1px solid $color-grey-dark;
            box-shadow: 0px 0px 10px rgba(34, 43, 54, 0.12);
            display: flex;
            justify-content: space-between;

            .details-info-config {
                width: calc(100% - #{$scan-time-width} - 10px);
                word-break: break-all;
            }
            .details-info-time {
                white-space: nowrap;
            }
        }
        .scan-details-steps {
            padding: 0 30px;
        }
    }
    .generating-results-loader {
        position: relative;
        font-weight: 500;
        font-size: 28px;
        line-height: 20px;
        text-align: center;
        color: $color-main;

        div {
            padding-top: 150px;
        }
    }
}