@import 'utils/scss_variables.module.scss';

.runtime-scan-page {
    .scan-details-container {
        margin: 40px;
        padding: 0 30px;
    }
    .generating-results-loader {
        position: relative;
        font-weight: 500;
        font-size: 28px;
        line-height: 20px;
        text-align: center;
        color: $color-main;

        div {
            padding-top: 150px;
        }
    }
}