@import 'utils/scss_variables.module.scss';

.scan-progres-bar-wrapper {
    .error-display-wrapper {
        margin-top: 25px;

        .error-display-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }
        .error-display-message {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: $color-main;
            background-color: $color-status-yellow;
            padding: 5px 10px;
            margin: 10px 0 20px 0;
            margin-top: 10px;
        }
    }
}