@import 'utils/scss_variables.module.scss';

$calendar-font-size: 11px;

.form-field-wrapper.date-field-wrapper {
    .SingleDatePicker {
        .SingleDatePickerInput {
            border: 1px solid $color-grey-light;
            border-radius: 2px;

            .DateInput {
                .DateInput_input {
                    height: 32px;
                    box-sizing: border-box;
                    border: none;
                    border-radius: 4px;
                }
            }
        }
        .SingleDatePicker_picker {
            .DayPicker {
                .CalendarDay__default {
                    border: none;
                }
                .CalendarDay__hovered_span, 
                .CalendarDay__hovered_span:hover,
                .CalendarDay__selected_span,
                .CalendarDay__selected_span:active, 
                .CalendarDay__selected_span:hover,
                .CalendarDay__selected, 
                .CalendarDay__selected:active, 
                .CalendarDay__selected:hover {
                    background-color: $color-grey-off-white;
                    color: $color-grey-black;
        
                    &.CalendarDay__selected {
                        background-color: $color-main;
                        color: white;
        
                    }
                }
                .CalendarDay__blocked_calendar, 
                .CalendarDay__blocked_calendar:active, 
                .CalendarDay__blocked_calendar:hover {
                    border: none;
                    background: transparent;
                    outline: none;
                    color: $color-grey;
                }
                .DayPickerNavigation.DayPickerNavigation_1.DayPickerNavigation__horizontal.DayPickerNavigation__horizontal_2 {
                    .DayPickerNavigation_button:first-child,
                    .DayPickerNavigation_button:last-child {
                        position: absolute;
                        top: 100px;
                    }
                    .DayPickerNavigation_button:first-child {
                        left: 5px;
                    }
                    .DayPickerNavigation_button:last-child {
                        right: 5px;
                    }
                }
                .CalendarMonth_caption {
                    color: $color-main;
                    font-size: $calendar-font-size;
                    padding-top: 5px;
                    padding-bottom: 40px;
                    text-transform: uppercase;
                }
                .DayPicker_weekHeader.DayPicker_weekHeader_1 {
                    top: 30px;
                }
                .CalendarDay {
                    font-size: $calendar-font-size;
                }
            }
        }
    }
}

