@import "utils/scss_variables.module.scss";

.dashboard-widget-wrapper {
  background: linear-gradient(292.93deg, #f9f9f9 -0.56%, #ffffff 100%);
  border: 1px solid $color-grey-light;
  box-sizing: border-box;
  padding: 30px;
  overflow: hidden;
}
