@import 'utils/scss_variables.module.scss';

.tabbed-page-container{
    .tabs-container {
        display: flex;
        height: 52px;
        border-bottom: 2px solid $color-grey-lighter;

        .tab-item {
            display: inline-flex;
            align-items: center;
            padding: 0 20px;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            cursor: pointer;

            &.active {
                font-weight: bold;
                border-bottom: 2px solid $color-main-light;
            }
            &.disabled {
                color: $color-grey-light;
                cursor: not-allowed;
            }
        }
    }
    .tab-content {
        padding: 30px 20px;
    }
}