$severity-select-width: 160px;

.severity-counters-step {
    .step-content {
        display: flex;
        align-items: center;

        .severity-select {
            width: $severity-select-width;
            min-width: $severity-select-width;
        }
        .select-counter-buttons-wrapper {
            margin-left: 30px;

            button {
                margin: 5px 0;
                margin-right: 10px;
            }
        }
    }
}