@import 'utils/scss_variables.module.scss';

.configuration-actions-display {
    display: flex;

    .icon:not(:disabled) {
        color: $color-main;
    }
    .icon-with-tooltip-wrapper:not(:last-child) {
        margin-right: 5px;
    }
}