@import 'utils/scss_variables.module.scss';

$main-height: calc(100vh - #{$top-bar-height});

html body {
    margin: 0;
    font-family: CiscoSansTT, sans-serif;
    color: $color-grey-black;
    box-sizing: border-box;

    #root {
        min-width: 1070px;

        .app-wrapper {
            position: relative;

            #main-wrapper {
                .sidebar-container {
                    background-color: $color-main-dark;
                    box-shadow: 0px 2px 43px rgba($color-shadow-main, 0.21);
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: $side-bar-width;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    z-index: 1;

                    .app-logo-wrapper {
                        height: $top-bar-height;
                        width: $side-bar-width;
                        box-sizing: border-box;
                        border-bottom: 1px solid $color-main;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .nav-item {
                        width: $side-bar-width;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        cursor: pointer;

                        &:hover,
                        &.active {
                            background-color: $color-main;
                        }
                        .icon {
                            color: white;
                        }
                    }
                }
                [role="main"] {
                    margin-top: $top-bar-height;
                    margin-left: $side-bar-width;
                    background-color: $color-background;
                    height: $main-height;
                    max-height: $main-height;
                    overflow: auto;
                    width: calc(100% - $side-bar-width);
                    position: relative;
                }
            }
        }
    }
}

