@import 'utils/scss_variables.module.scss';

$details-padding: 20px;

.runtime-scan-page {
    .scan-details-container {
        margin: 40px;
        
        .scan-details-info {
            box-sizing: border-box;
            font-size: 13px;
            line-height: 18px;

            .genreral-scan-details {
                min-height: 44px;
                padding: 0 $details-padding;
                background-color: $color-grey-light;
                border-bottom: 1px solid $color-grey;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .details-info-time {
                    display: flex;
                    align-items: center;
                    white-space: pre-wrap;

                    .icon {
                        margin-right: 5px;
                    }
                }
            }
            .namespaces-scan-details {
                box-sizing: border-box;
                min-height: 40px;
                padding: 0 $details-padding;
                padding-top: 15px;
                background-color: $color-blue;
                display: flex;
                align-items: baseline;
                white-space: nowrap;

                .namespaces-list {
                    display: flex;
                    flex-wrap: wrap;

                    .namespace-item {
                        padding: 0 10px;
                        margin-bottom: 15px;
                        font-weight: bold;

                        &:not(:last-child) {
                            border-right: 1px solid $color-grey;
                        }
                    }
                    
                }
            }
        }
        .scan-details-steps {
            padding: 0 30px;
        }
    }
    .generating-results-loader {
        position: relative;
        font-weight: 500;
        font-size: 28px;
        line-height: 20px;
        text-align: center;
        color: $color-main;

        div {
            padding-top: 150px;
        }
    }
}