$icon-size: 22px;

.icon {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &.clickable:not(.disabled) {
        cursor: pointer;
    }
    &.disabled {
        cursor: not-allowed;
        color: #AEB5BC;
    }
}