@import 'utils/scss_variables.module.scss';

$padding: 30px;

.modal-outer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-grey-black, 0.8);

    .modal-inner-wrapper {
        position: absolute;
        background: $color-grey-off-white;
        padding: $padding;
        box-sizing: border-box;

        &:not(.stick-left) {
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.stick-left {
            top: 0;
            bottom: 0;
            left: 0;
            width: 512px;
        }
        .close-button {
            position: absolute;
            top: $padding;
            right: $padding;
        }
        .modal-title {
            font-size: 34px;
            line-height: 40px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .modal-content {
            font-size: 18px;
            line-height: 18px;
            color: $color-grey-dark;
        }
        .modal-actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            right: $padding;
            bottom: $padding;

            button:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}