@import 'utils/scss_variables.module.scss';

$size: 12px;
$inner-icon-size: 10px;

$size-large: 14px;
$inner-icon-size-large: 12px;

.info-icon-wrapper {
    background-color: $color-grey-light;
    width: $size;
    height: $size;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    
    &.large {
        width: $size-large;
        height: $size-large;
        background-color: $color-main;

        .icon {
            width: $inner-icon-size-large;
            height: $inner-icon-size-large;
            color: white;
        }
    }
    .icon {
        color: $color-grey-black;
        width: $inner-icon-size;
        height: $inner-icon-size;
    }
}