@import 'utils/scss_variables.module.scss';

.form-wrapper {
    .main-error-message {
        font-size: 10px;
        line-height: 14px;
        color: $color-grey-black;
        background-color: $color-error-light;
        border: 1px solid $color-error;
        padding: 10px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;

        .icon {
            color: $color-error;
            margin-right: 10px;
            min-width: 22px;
        }
    }
    .form-field-wrapper {
        min-width: 200px;
        margin-bottom: 30px;
    
        .form-field {
            width: 100%;
            margin-top: 3px;
        }
        .field-label-wrapper {
            display: flex;
            align-items: center;

            .form-field-label {
                font-size: 10px;
                line-height: 12px;
                font-weight: bold;
                color: $color-grey-black;
                margin-right: 10px;
            }
        }
        .form-field-error {
            font-size: 10px;
            line-height: 16px;
            color: $color-error;
            margin-top: 5px;
        }
    }
}