#cloud-config
package_upgrade: true
packages:
  - docker.io
write_files:
  - path: /opt/vmclarity/scanconfig.json
    permissions: "0644"
    content: |
      {
          "directory_to_scan": "/mounted/snapshot",
          "server_to_report": "127.0.0.1",
          "vulnerability_scan": {
              "enabled": "true"
          },
          "rootkit_scan": {
              "enabled": "true"
          },
          "misconfiguration_scan": {
              "enabled": "true"
          },
          "secret_scan": {
              "enabled": "true"
          },
          "malware_scan": {
              "enabled": "true"
          },
          "exploit_scan": {
              "enabled": "true"
              }
          }
      }
  - path: /etc/systemd/system/vmclarity-scanner.service
    permissions: "0644"
    content: |
      [Unit]
      Description=VMClarity scanner job
      Requires=docker.service
      After=network.asset docker.service

      [Service]
      Type=oneshot
      WorkingDirectory=/opt/vmclarity
      ExecStartPre=docker pull busybox
      ExecStart=docker run --rm --name %n -v /opt/vmclarity:/vmclarity busybox ls /vmclarity

      [Install]
      WantedBy=multi-user.asset
runcmd:
  - [ systemctl, daemon-reload ]
  - [ systemctl, start, docker.service ]
  - [ systemctl, start, vmclarity-scanner.service ]