@import 'utils/scss_variables.module.scss';

.clarity-tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: $color-blue-light;
    border: 1px solid $color-blue;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    &.clickable {
        cursor: pointer;
    }
}

.clarity-tags-list {
    .clarity-tag {
        margin-bottom: 5px;
        
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}