@import 'utils/scss_variables.module.scss';

.details-page-wrapper {
    &.with-padding {
        padding: $main-content-padding;
    }
    .details-page-content-wrapper {
        .details-page-title {
            display: flex;
            align-items: baseline;
            margin-bottom: 22px;

            .details-page-title-sub {
                margin-left: 10px;
            }
        }
    }
}