name: Dependencies

on:
  workflow_dispatch:
  schedule:
    # At 01:00 on Monday: https://crontab.guru/#0_1_*_*_1
    - cron: '0 1 * * 1'

jobs:
  renovate:
    name: Renovate Sync
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate Bot
        id: auth
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        with:
          app-id: ${{ secrets.OPENCLARITY_BOT_APP_ID }}
          private-key: ${{ secrets.OPENCLARITY_BOT_PRIVATE_KEY }}

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          # removes all pre-cached tools (Node, Go, Python, Ruby, ...)
          tool-cache: true
          # remove android runtime, dotnet runtime, haskell runtime, large packages, docker images, swap storage
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Setup Node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          # NOTE(chrisgacsal): Use actions/cache for caching Go dependency and build caches
          # as it provides better flexibility like setting the cache key which reduces cache misses significantly.
          cache: false
          go-version-file: '.go-version'

      - name: Run Renovate
        run: make renovate
        env:
          ## Discovery
          # Renovate finds and creates PRs for all repos accessible by auth token.
          # Since we auth only against this repo, no other repos can be accessed.
          RENOVATE_AUTODISCOVER: "true"
          RENOVATE_FORK_PROCESSING: "enabled"
          ## Project sync
          RENOVATE_PLATFORM: "github"
          RENOVATE_PLATFORM_COMMIT: "true"
          RENOVATE_TOKEN: ${{ steps.auth.outputs.token }}
          GITHUB_COM_TOKEN: ${{ steps.auth.outputs.token }}
          # Remove unused fields from PR description
          RENOVATE_PR_BODY_TEMPLATE: "{{{header}}}{{{table}}}{{{warnings}}}{{{notes}}}{{{changelogs}}}"
          RENOVATE_DEPENDENCY_DASHBOARD_HEADER: ""
          RENOVATE_DEPENDENCY_DASHBOARD_O_S_V_VULNERABILITY_SUMMARY: "all"
