name: Release
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+"

permissions:
  packages: write
  contents: write

jobs:
  artifacts:
    name: Create artifacts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          # removes all pre-cached tools (Node, Go, Python, Ruby, ...)
          tool-cache: true
          # remove android runtime, dotnet runtime, haskell runtime, large packages, docker images, swap storage
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          # NOTE(chrisgacsal): Use actions/cache for caching Go dependency and build caches
          # as it provides better flexibility like setting the cache key which reduces cache misses significantly.
          cache: false
          go-version-file: '.go-version'

      - name: Setup Go caching
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ github.ref_name }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ github.ref_name }}-
            ${{ runner.os }}-go-${{ github.event.repository.default_branch }}-

      - name: Create openclarity-cli manifest(s)
        env:
          VERSION: ${{ github.ref_name }}
        run: make dist-openclarity-cli

      - name: Create Cloudformation manifest(s)
        env:
          VERSION: ${{ github.ref_name }}
        run: make dist-cloudformation

      - name: Create Azure Bicep manifest(s)
        env:
          VERSION: ${{ github.ref_name }}
        run: make dist-bicep

      - name: Create Docker Compose manifest(s)
        env:
          VERSION: ${{ github.ref_name }}
        run: make dist-docker-compose

      - name: Create Google Cloud Deployment manifest(s)
        env:
          VERSION: ${{ github.ref_name }}
        run: make dist-gcp-deployment

      - name: Upload
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: artifacts
          path: |
            dist/*.tar.gz
            dist/*.tgz
            dist/*.sha256sum
            dist/bicep/openclarity.json
            dist/bicep/openclarity-UI.json
          if-no-files-found: error
          compression-level: 0

  verification:
    name: Verification
    uses: ./.github/workflows/reusable-verification.yml
    secrets: inherit

  publish-helm-chart:
    needs: verification
    name: Publish Helm Chart
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Create Helm Chart package
        env:
          VERSION: ${{ github.ref_name }}
        run: make dist-helm-chart

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Package and Publish Helm Chart
        env:
          VERSION: ${{ github.ref_name }}
        run: make publish-helm-chart

  build-and-push:
    needs:
      - artifacts
      - verification
      - publish-helm-chart
    name: Build
    uses: ./.github/workflows/build-and-push-components.yml
    with:
      image_tag: ${{ github.ref_name }}

  main-release:
    needs:
      - artifacts
      - verification
      - publish-helm-chart
      - build-and-push
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: artifacts
          path: dist

      - name: Generate changelog
        env:
          VERSION: ${{ github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make generate-release-notes

      - name: Upload release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          allowUpdates: true
          artifactErrorsFailBuild: true
          artifacts: "dist/*.tar.gz,dist/*.sha256sum,dist/bicep/openclarity.json,dist/bicep/openclarity-UI.json"
          bodyFile: "dist/CHANGELOG.md"
          draft: true
          name: "Release ${{ github.ref_name }}"
          updateOnlyUnreleased: true
