name: Verification

on:
  workflow_call:

jobs:
  licenses:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5
        with:
          # NOTE(chrisgacsal): Use actions/cache for caching Go dependency and build caches
          # as if provides better flexibility like setting the cache key which reduces cache misses significantly.
          cache: false
          go-version-file: '.go-version'

      - name: License cache
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4
        with:
          path: |
            .licensei.cache
            **/.licensei.cache
          key: licensei-${{ github.ref_name }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            licensei-${{ github.ref_name }}-
            licensei-${{ github.event.repository.default_branch }}-
          save-always: true

      # Vendor deps before running https://github.com/goph/licensei
      # to avoid false-positives when modules GitHub repo could not be determined
      - name: Vendor dependencies to retrieve licenses locally
        run: make gomod-vendor

      - name: Download license information for dependencies
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make license-cache

      - name: Check licenses
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make license-check

  distributions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Setup Cloud Formation Linter with Latest Version
        uses: scottbrenner/cfn-lint-action@37aa911f6b6a9d8fe9fba4a96e069086a8dc95de # v2.4.0

      - name: Run linters for Cloudformation
        run: |
          make lint-cfn

      - name: Run linters for Helm
        run: |
          make lint-helm

      - name: Run linters for Azure/Bicep
        run: |
          make gen-bicep
          make lint-bicep
          [[ -z "$(git status --porcelain)" ]] || exit 1

  actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Lint Github workflows
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          make lint-actions
          echo "::remove-matcher owner=actionlint::"

  go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5
        with:
          # NOTE(chrisgacsal): Use actions/cache for caching Go dependency and build caches
          # as if provides better flexibility like setting the cache key which reduces cache misses significantly.
          cache: false
          go-version-file: '.go-version'

      - name: Setup Go caching
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ github.ref_name }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ github.ref_name }}-
            ${{ runner.os }}-go-${{ github.event.repository.default_branch }}-

      - name: Verify go modules
        run: |
          make gomod-list
          make gomod-tidy
          [[ -z "$(git status --porcelain)" ]] || exit 1

      - name: Run go vet
        run: |
          make vet

      - name: Cache golangci-lint cache
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4
        with:
          path: ${{ github.workspace }}/.golangci.cache
          key: golangci-${{ github.ref_name }}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            golangci-${{ github.ref_name }}-
            golangci-${{ github.event.repository.default_branch }}-

      - name: Run linters
        env:
          GOLANGCI_LINT_CACHE: ${{ github.workspace }}/.golangci.cache
        run: |
          make lint-go

      - name: Run tests
        run: |
          make test
